
        <div class="container">
          <div class="row">

                      <div class="twelve columns box">
                        <h3>Bill with settings</h3>
                        <div class="">
                          Select the call or sms radio button. Update the appropriate total and the overall total when the ADD button in pressed.
                          <i>Calls costs should now be configurable using the settings section.</i>
                        </div>
                        <div class="">
                          <i>If the total cost exceed the warning level show the total cost in orange, if it exceeds the critical level show
                            it in red and prevent any new costs from being added. The warning and critical level should both be configurable
                            now.</i>
                        </div>
                        <hr>
                        <div class="row">

                          <div class="six columns">
                            <h5>Bill type</h5>
                            <form action="/action" method="POST">

                              <label class="">
                                <input type="radio"  name="actionType" value="call" class="billItemTypeWithSettings">
                                <span class="label-body">Call</span>
                              </label>
                              <label class="">
                                <input type="radio"  name="actionType" value="sms" class="billItemTypeWithSettings">
                                <span class="label-body">SMS</span>
                              </label>
                              <button class="button-primary" type="submit" name="button">Add</button>

                            </form>

                            <h5>Totals</h5>
                            <table>
                              <tr>
                                <td>
                                  <a href="/actions/call">Call total</a>
                                </td>
                                <td>R
                                  <span class="callTotalSettings">{{totals.callTotal}}</span>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <a href="/actions/sms">SMS total</a>
                                </td>
                                <td>R
                                  <span class="smsTotalSettings">{{totals.smsTotal}}</span>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <a href="/actions">Total</a>
                                </td>
                                <td> R
                                  <span class="totalSettings {{colour}}{{actions.color}} ">{{totals.total}}</span>
                                </td>
                              </tr>
                            </table>

                          </div>
                          <div class="six columns">
                            <form class="" action="/settings" method="POST">
                              <h5>settings</h5>
                              <label for="exampleEmailInput">Call cost</label>
                              <input class="u-full-width callCostSetting" type="number" step="any" name="callCost" placeholder="enter callcost" value="{{settings.callCost}}">
                              <label for="exampleEmailInput">SMS cost</label>
                              <input class="u-full-width smsCostSetting" type="number" step="any"  name="smsCost" placeholder="enter smscost" value="{{settings.smsCost}}">
                              <label for="">Warning level</label>
                              <input class="u-full-width warningLevelSetting " type="number" step="any"  name="warningLevel" placeholder="enter warningLevel" value="{{settings.warningLevel}}">
                              <label for="">Critical level</label>
                              <input class="u-full-width criticalLevelSetting" type="number" step="any"  name="criticalLevel" placeholder="enter criticalLevel" value="{{settings.criticalLevel}}">
                              <button class="button-primary updateSettings" type="submit"step="any"  name="button">Update settings</button>
                            </form>
                          </div>
                        </div>
                      </div>
                  </div>
    </div>



  {{!--
  <script src="js/calculate-bill.js" charset="utf-8"></script>
  <script src="js/text-bill.js" charset="utf-8"></script>
  <script src="js/radio-bill.js" charset="utf-8"></script>
  <script src="js/settings-bill.js" charset="utf-8"></script> --}}
